.textcardtitle{
  color: black;
  text-align: center;
}

.textcardsubtitle{
  text-align: center;
}

.mat-mdc-card {
  margin-top: 3rem;
  padding: 3rem;
  width: 100%;
}

.mat-divider{
  margin-bottom: 1rem;
}

.flex{
  display: flex;
}

.justify-content-between{
  justify-content: space-between;
}

.m-auto{
  margin: auto;
}
