<div class="profile-div">
  <img class="profile-avatar" mat-card-avatar src={{avatar}} alt="Profile">
</div>
<div class="patient-info">
  <div class="patient-fields">
    <p><strong>FISCAL CODE</strong><br>{{patient?.fiscalCode}}</p>
    <p><strong>NAME</strong><br> {{patient?.name}}</p>
    <p><strong>SURNAME</strong><br> {{patient?.surname}}</p>
    <p><strong>DATE OF BIRTH</strong><br> {{patient?.dateOfBirth}}</p>
    <p><strong>SEX</strong><br> {{patient?.sex}}</p>
    <p><strong>E-MAIL</strong><br> {{patient?.email}}</p>
    <p><strong>PHONE NUMBER</strong><br> {{patient?.phoneNumber}}</p>
  </div>
</div>
