<div class="flex">
  <div class="m-auto">
      <mat-card>
          <mat-card-title class="textcardtitle">
              Password Successfully Changed!
          </mat-card-title>
          <mat-card-subtitle class="textcardsubtitle">
              Click OK to continue
          </mat-card-subtitle>

          <form action="">
              <mat-card-content>

                <mat-card-actions style="justify-content: center;">
                    <button (click)="onOK()" type="submit" mat-raised-button style="color:white; background-color: #797979">
                        <span>OK</span>
                    </button>
                </mat-card-actions>

              </mat-card-content>
          </form>
      </mat-card>
  </div>
</div>
