<mat-toolbar color="primary">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span style="margin: auto;">BODYBRAINIC</span>
  <button mat-icon-button *ngIf="(authService.loggedIn$ | async); else displayNothing" (click)="goDoctorInfo()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <ng-template #displayNothing>
    <!-- Optional: You can display a different icon for logged-out state -->
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>
