<div class="flex">
  <div class="m-auto">
      <mat-card>
          <mat-card-title class="textcardtitle">
              Recover Password
          </mat-card-title>
          <mat-card-subtitle class="textcardsubtitle">
              Complete the form to get a new Password
          </mat-card-subtitle>

          <form action="">
              <mat-card-content>
                <mat-form-field *ngIf="!isCodeSent">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
                </mat-form-field>

                <mat-form-field *ngIf="isCodeSent">
                    <mat-label>Code</mat-label>
                    <input matInput type="text" [(ngModel)]="code" name="code" placeholder="Enter the code" required>
                </mat-form-field>

                <mat-divider></mat-divider>

                <mat-card-actions class="mat-card-buttons">
                  <button *ngIf="!isCodeSent" mat-raised-button style="color:white; background-color: #797979" (click)="onSend()">Send</button>
                  <button *ngIf="isCodeSent" mat-raised-button style="color:white; background-color: #797979" (click)="onConfirm()">Confirm</button>
                </mat-card-actions>

                <div *ngIf="isCodeWrong" class="error-code-div">
                  Wrong code
                </div>

              </mat-card-content>
          </form>
      </mat-card>
  </div>
</div>
