<div class="flex">
  <div class="m-auto">
      <mat-card>
          <mat-card-title class="textcardtitle">
              Change Password
          </mat-card-title>
          <mat-card-subtitle class="textcardsubtitle">
              Complete the form to change the Password
          </mat-card-subtitle>

          <form action="">
              <mat-card-content>
                  <mat-form-field>
                      <mat-label>Old Password</mat-label>
                      <input matInput type="password" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Enter old password" required>
                  </mat-form-field>

                  <mat-divider></mat-divider>

                  <mat-form-field>
                      <mat-label>New Password</mat-label>
                      <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Enter new password" required>
                  </mat-form-field>

                  <br>

                  <mat-form-field>
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm new password" required>
                </mat-form-field>

                <mat-divider></mat-divider>

                <mat-card-actions style="justify-content: center;">
                    <button (click)="onConfirm()" type="submit" mat-raised-button style="color:white; background-color: #797979">
                        <span>Confirm</span>
                    </button>
                </mat-card-actions>

                <div *ngIf="isPasswordWrong" class="error-password-div">
                  Wrong password
                </div>

                <div *ngIf="isConfirmPasswordWrong" class="error-password-div">
                  Wrong confirm password
                </div>

              </mat-card-content>
          </form>
      </mat-card>
  </div>
</div>
